/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

body {
  background-color: #1a120b;
  display: flex;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #e5e5cb;
  /* color: #3c2a21; */
  font-size: 1.1rem;
  gap: 1.5rem;
}

.outer {
  border: 2px dashed #e5e5cb7a;
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 1;
  /* background-color: cornsilk; */
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease;
}

/* hover effect/transition */
button {
  padding: 10px 20px;
  font-size: 1.3rem;
  border-radius: 12px;
  /* border-width: 0; */
  cursor: pointer;
  /* background-color: lightpink; */
  /* transition: background-color 0.5s linear scale 0.5s ease; */
  background-color: transparent;
  border-color: cornflowerblue;
  color: azure;
  transition: border-color 0.7s ease scale o0.7s ease;
}

button:hover {
  /* background-color: rgb(255, 131, 149); */
  scale: 0.9;
  border-color: crimson;
  rotate: 10deg;
}

.duck-skin {
  cursor: pointer;
  transition: fill 0.4s ease-in-out;
}

.duck-skin:hover {
  fill: crimson;
}

.duck-icon {
  transition: scale 0.4s ease;
}

.duck-icon:hover {
  scale: 0.9;
}

#box {
  min-width: 120px;
  min-height: 120px;
  /* background-color: cornflowerblue; */
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 4px dashed purple;
  /* animation-name: color-wheel; */
  animation-name: border-wheel;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

@keyframes color-wheel {
  0% {
    background-color: darkgreen;
  }
  20% {
    background-color: darkred;
  }
  40% {
    background-color: fuchsia;
  }
  60% {
    background-color: lightcoral;
  }
  80% {
    background-color: dodgerblue;
  }
  100% {
    background-color: orange;
  }
}

@keyframes border-wheel {
  0% {
    border-color: darkgreen;
  }
  20% {
    border-color: darkred;
  }
  40% {
    border-color: fuchsia;
  }
  60% {
    border-color: lightcoral;
  }
  80% {
    border-color: dodgerblue;
  }
  100% {
    border-color: orange;
  }
}
