body {
  background-color: rgb(254, 189, 218);
  text-align: center;
  margin: auto;
  max-width: 1000px;
}

img {
  max-width: 800px;
  padding-top: 1px;
  padding-bottom: 50px;
}

#my-id1 {
  color: whitesmoke;
  font-family: "Titan One", sans-serif;
}

#my-id2 {
  color: whitesmoke;
  line-height: 0%;
  font-family: "Titan One", sans-serif;
}

#my-id3 {
  color: black;
  padding-top: 40px;
  font-family: "Nerko One", cursive;
}

#my-id4 {
  color: whitesmoke;
  font-family: "Titan One", sans-serif;
}

.my-class1 {
  color: rgb(127, 148, 206);
  font-family: "Titan One", sans-serif;
  padding-top: 30px;
}

.my-class2 {
  color: black;
  font-family: "Nerko One", cursive;
}

.my-class1:hover {
  color: whitesmoke;
  font-size: xx-large;
}
