h1 {
  color: crimson;
}

h2 {
  color: rgb(255, 67, 199);
}

p,
h3 {
  color: lightcoral;
}
.my-class {
  color: midnightblue;
}
#my-id {
  color: maroon;
}

p strong {
  color: yellowgreen;
}

span {
  display: block;
}
