h1 {
  color: crimson;
  font-size: 1rem;
}
/* this is a comment within the code */
h2 {
  color: rgb(255, 67, 199);
  padding: 10px;
}

p,
h3 {
  color: lightcoral;
  font-size: 1.6rem;
}
.my-class {
  color: midnightblue;
}
#my-id {
  color: maroon;
}

p strong {
  color: yellowgreen;
}

span {
  display: block;
}

article {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid brown;
  border-width: 8px;
  padding: 20px;
}

p {
  border: 1px dashed hotpink;
  padding: 40px;
}
