body {
  background-color: bisque;
  display: flex;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.outer {
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.journal-container {
  position: relative;
  width: 1000px;
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.journal-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.drop-area {
  width: 100%;
  height: 100%;
  position: absolute;
  border: dashed 2px transparent;
}

.polaroid {
  width: 100px;
  height: 130px;
}

.sticker {
  width: 90px;
  height: 90px;
}

.decorations {
  position: absolute;
  top: 4%;
  left: 20%;
  z-index: 3;
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.draggable {
  position: absolute;
  cursor: move;
  transition: 0.2s;
  pointer-events: all;
}
