body {
  background-color: bisque;
  display: flex;
  text-align: center;
  margin: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.outer {
  width: 400px;
  min-height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.theme {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-bottom: -50px;
  z-index: 4;
}

.theme-label {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
}

input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  width: 300px;
  background-color: white;
  color: black;
  text-align: center;
  z-index: 4;
}

.journal-container {
  position: relative;
  width: 1000px;
  height: 800px;
  margin: auto;
  display: flex;
  z-index: 1;
}

.journal-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.drop-area {
  width: 100%;
  height: 100%;
  position: absolute;
  border: dashed 2px transparent;
}

.polaroid {
  max-width: 150px;
  max-height: 200px;
}

.sticker {
  width: 90px;
  height: 90px;
}

.decorations {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

.decorations2 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}

.draggable {
  position: absolute;
  cursor: move;
  transition: 0.2s;
  pointer-events: all;
}

#polaroid1 {
  position: absolute;
  top: -10%;
  left: -40%;
  transform: rotate(-10deg);
}

#polaroid2 {
  position: absolute;
  top: 30%;
  left: 170%;
  transform: rotate(10deg);
}

#polaroid3 {
  position: absolute;
  top: -20%;
  left: 280%;
  transform: rotate(30deg);
}

#polaroid4 {
  position: absolute;
  top: 80%;
  left: 10%;
  transform: rotate(-30deg);
}

#polaroid5 {
  position: absolute;
  top: 80%;
  left: -1550%;
  transform: rotate(30deg);
}

#polaroid6 {
  position: absolute;
  top: 40%;
  left: -1400%;
  transform: rotate(-20deg);
}

#polaroid7 {
  position: absolute;
  top: -10%;
  left: -1540%;
  transform: rotate(40deg);
}

#polaroid8 {
  position: absolute;
  top: 3%;
  left: -1350%;
  transform: rotate(20deg);
}

#sticker1 {
  position: relative;
  top: 20%;
  right: -170%;
  transform: rotate(20deg);
}

#sticker2 {
  position: relative;
  margin-top: 90%;
  right: 40%;
  transform: rotate(-20deg);
}

#sticker3 {
  position: relative;
  margin-top: 10%;
  right: -380%;
  transform: rotate(-20deg);
}

#sticker4 {
  position: relative;
  margin-top: -100%;
  right: -10%;
  transform: rotate(20deg);
}

#sticker5 {
  position: relative;
  margin-top: 10%;
  right: -200%;
  transform: rotate(20deg);
}

#sticker6 {
  position: relative;
  margin-top: 90%;
  right: 1500%;
  transform: rotate(20deg);
}

#sticker7 {
  position: relative;
  margin-top: 90%;
  right: 1250%;
  transform: rotate(60deg);
}

#sticker8 {
  position: relative;
  margin-top: 50%;
  right: 1500%;
  transform: rotate(-20deg);
}

#sticker9 {
  position: relative;
  margin-top: 90%;
  right: 1300%;
  transform: rotate(20deg);
}
